.clickable {
	cursor: pointer;
}

.game-board {
	border: 1px solid black;
	text-align: center;
	

}
.blue-cards {
	border: 1px solid black;
}
.red-cards {
	border: 1px solid black;
	margin: 20px;
}
.square-limit {
	border: 1px solid black;
	width: 620px;
	height: 620px;
	float: left;
	padding: 10px;
}
.playing-area{
	
}	
	
.square {
	width: 118px;
	height: 118px;
	border: 1px solid black;
	float: left;
}
.red-pawn, .blue-pawn {
	height: 80px;
	width: 80px;
}
.red-card-position, .blue-card-position, #side-card {
	height: 200px;
	width: 350px;
}
#side-card {
	transform: rotate(90deg);

}
.outside-board {
	border: 1px solid black;
}