.clickable {
	cursor: pointer;
}

#game-board {
	border: 1px solid black;

}
.blue-cards {
	border: 1px solid black;
}
.red-cards {
	border: 1px solid black;
	margin: 20px;
}
.square-limit {
	border: 1px solid black;
	width: 620px;
	height: 620px;
}
.square {
	width: 118px;
	height: 118px;
	border: 1px solid black;
	float: left;
}
.red-pawn, .blue-pawn {
	height: 80px;
	width: 80px;
}
#redcard1, #redcard2, #bluecard1, #bluecard2 {
	height: 200px;
	width: 350px;
}